@import "tailwindcss";

@font-face {
  font-family: "Sportize";
  src: url("/src/assets/fonts/SportizePersonalUse-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sportize";
  src: url("/src/assets/fonts/SportizePersonalUse-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JungleAdventurer";
  src: url("/src/assets/fonts/JungleAdventurer.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sportize: "Sportize", serif;
  --font-jungle: "JungleAdventurer", serif;
}

[data-index] {
  will-change: transform, opacity;
}

